<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Pow's Gallery</title>
    <link href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Roboto|Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="gallery_style.css" />
    <link rel="icon" type="image/ico" href="p-type_logo_instagram.png" />
</head>
<body id="bodygallery">
    <div class="landing">
        <div class="title">
            <h1 class="logo"><a href="index.html">LA POW GALLERIA</a></h1>
        </div>
    </div>
    <div class="gallery">
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/Birds1.JPG" target="_blank">
                    <img src="img/Birds1.JPG" alt="Lake Bird" style="width:100%">
                    <div class="caption">
                    <p>"By The Lake"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/Birds2.JPG" target="_blank">
                    <img src="img/Birds2.JPG" alt="scratch" style="width:100%">
                    <div class="caption">
                    <p>"Feather Bites"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/Birds3.JPG" target="_blank">
                    <img src="img/Birds3.JPG" alt="bridge" style="width:100%">
                    <div class="caption">
                    <p>"Oil Near The Bridge"</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/Boat1.JPG" target="_blank">
                    <img src="img/Boat1.JPG" alt="delia" style="width:100%">
                    <div class="caption">
                    <p>"Delia and Him"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/Boat2.JPG" target="_blank">
                    <img src="img/Boat2.JPG" alt="queen" style="width:100%">
                    <div class="caption">
                    <p>"The Queen of The Sea"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/Boat3.JPG" target="_blank">
                    <img src="img/Boat3.JPG" alt="melanie" style="width:100%">
                    <div class="caption">
                    <p>"Melanie"</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/Car1.JPG" target="_blank">
                    <img src="img/Car1.JPG" alt="Headlight" style="width:100%">
                    <div class="caption">
                    <p>"Headlight"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/Car2.JPG" target="_blank">
                    <img src="img/Car2.JPG" alt="austin7" style="width:100%">
                    <div class="caption">
                    <p>"Austin 7"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/Car3.JPG" target="_blank">
                    <img src="img/Car3.JPG" alt="road" style="width:100%">
                    <div class="caption">
                    <p>"By The Road"</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/animal1.JPG" target="_blank">
                    <img src="img/animal1.JPG" alt="chipmunk" style="width:100%">
                    <div class="caption">
                    <p>"Surprised Chipmunk"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/animal2.JPG" target="_blank">
                    <img src="img/animal2.JPG" alt="swan" style="width:100%">
                    <div class="caption">
                    <p>"Great White Swan"</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail kotak">
                <a href="img/animal3.JPG" target="_blank">
                    <img src="img/animal3.JPG" alt="sheeps" style="width:100%">
                    <div class="caption">
                    <p>"Mountain Sheep"</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</body>